# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# .gitignore

# 환경 변수 파일
.env

# 구글 클라이언트 ID 파일 업로드 방지
구글 클라이언트 ID.txt

# 깃허브 업데이트 명령어 업로드 방지
깃허브 업데이트 명령어.txt

# 업로드 방지
간장게장 비율.txt

# 업로드 방지
발주.txt

# 업로드 방지
테스트.jsx

.vercel
