@font-face {
  font-family: 'DSEG7';
  src: url('/fonts/DSEG7Modern-Bold.woff2') format('woff2'),
       url('/fonts/DSEG7Modern-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}
